llama-index
llama-index-core
llama-index-llms-openai
llama-index-embeddings-openai
llama-index-agent-openai
llama-hub
unstructured
openai
nltk
python-dotenv
sentence-transformers
torch
transformers
chainlit
literalai
numpy
packaging
requests
beautifulsoup4
selenium
pillow
PyPDF2
python-docx
pandas
openpyxl
moviepy
librosa
langdetect
aiohttp
scikit-learn
faiss-cpu
webdriver-manager
lxml
html5lib
opencv-python
pytesseract
scipy
asyncio-throttle
python-dateutil
python-magic
chardet
ffmpeg-python
mutagen
colorama